@import 'tailwindcss';
@import "flowbite/src/themes/default";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../node_modules/flowbite";
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../views';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: 237 103 0; /* Orange */
    --color-primary-50: 255 247 237;
    --color-primary-100: 255 237 213;
    --color-primary-200: 254 215 170;
    --color-primary-300: 253 186 116;
    --color-primary-400: 251 146 60;
    --color-primary-500: 237 103 0; /* Main orange */
    --color-primary-600: 234 88 12;
    --color-primary-700: 194 65 12;
    --color-primary-800: 154 52 18;
    --color-primary-900: 124 45 18;
}

@plugin "flowbite/plugin";
